{{>header}}

<div class="container">

<div class="mt-5 text-center">
    <h1>Création de l'utilisateur</h1>
</div>

<div class="row justify-content-center text-left">
    <div class="col-6">
        <form action="/patients" method="post">
        <div class="form-group">
            <label for="matricule">Identifiant: </label>
            <input placeholder="A1" name="matricule" id="matricule" required class="form-control">
        </div>

        <div class="form-group">
            <label for="nom">Nom: </label>
            <input name="nom" id="nom" placeholder="Speiser" required class="form-control">
        </div>

        <div class="form-group">
            <label for="prenom">Prénom: </label>
            <input name="prenom" id="prenom" placeholder="Gérard" required class="form-control">
        </div>

        <div class="form-group">
            <label for="naissance">Date de naissance: </label>
            <input type="date" name="naissance" id="naissance" required class="form-control">
        </div>

        <div class="form-group">
            <label for="mutuelle">Mutuelle: </label>
            <input name="mutuelle" id="mutuelle" placeholder="Rembours'Tout" required class="form-control">
        </div>
        <input type="submit" value="Créer le nouveau patient">
        </form>
    </div>
</div>
<div class="mt-5 text-center">
    <a href="/home">
        <button type="button" class="btn btn-success btn-lg">Accueil</button>
    </a>
</div>


{{>footer}}
