{{>header}}

<div class="container">
    
    <div class="mt-5 text-center">
        <h1>Historique DMI</h1>
    </div>

    <div class='row mt-5 '>
        <div class="col-3">
            <form action="/history" method="post">
                <div class="form-group">
                    <label for="patient">Patient: </label>
                    <input name="patient" id="patient" placeholder="Id Patient" value="{{filtre}}" class="form-control">
                    <input class="btn-sm mt-2" type="submit" value="Filtrer">
                </div>
            </form>
        </div>

        <div class="col-2">
        </div>

        <div class="mt-4 text-center col-2">
            <a href="/home">
                <button type="button" class="btn btn-success btn-lg">Accueil</button>
            </a>
        </div>
    </div>
   
    <table class="col-12 mt-5">
        <tr class="row border-bottom">
            <td class="col-2 mb-2 mt-2">Date</td>
            <td class="col-2 mb-2 mt-2">Id Patient</td>
            <td class="col-2 mb-2 mt-2">Intervention</td>
            <td class="col-2 mb-2 mt-2">Commentaire</td>
            <td class="col-2 mb-2 mt-2">Lieu</td>
            <td class="col-2 mb-2 mt-2">Mutuelle</td>
        </tr>
        {{#liste}}
        <tr class="row border-bottom">
            <td class="col-2 mb-2 mt-2">{{Date}}</td>
            <td class="col-2 mb-2 mt-2">{{Patient}}</td>
            <td class="col-2 mb-2 mt-2">{{Intervention}}</td>
            <td class="col-2 mb-2 mt-2">{{Commentaire}}</td>
            <td class="col-2 mb-2 mt-2">{{Lieu}}</td>
            <td class="col-2 mb-2 mt-2">{{Mutuelle}}</td>
        </tr>
        {{/liste}}
    </table>

    

</div>

{{>footer}}
