{{>header}}

<div class="container">
    <div class="mt-5 text-center">
        <h1>Centre DMI</h1>
        <h2>Bienvenue</h2>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-4">
            <a href="/new-patient">
                <button type="button" class="col-10 btn btn-success btn-lg">Nouveau patient</button>
            </a>
        </div>
        <div class="col-4">
            <a href="/users">
                <button type="button" class="col-10 btn btn-primary btn-lg">Utilisateurs</button>
            </a>
        </div>
        <div class="col-4">
            <a href="/history">
                <button type="button" class="col-10 btn btn-danger btn-lg">Historique</button>
            </a>
        </div>
    </div>
</div>

{{>footer}}
