{{>header}}

<div class="container">
    
    <div class="mt-5 text-center">
        <h1>Liste d'utilisateurs</h1>
    </div>
   
    <table class="col-12 mt-5">
        <tr class="row border-bottom">
            <td class="col-2 mb-2 mt-2">Nom</td>
            <td class="col-2 mb-2 mt-2">Prenom</td>
            <td class="col-2 mb-2 mt-2">Date de naissance</td>
            <td class="col-2 mb-2 mt-2">Mutuelle</td>
        </tr>
        {{#liste}}
        <tr class="row border-bottom">
            <td class="col-2 mb-2 mt-2">{{ Nom }}</td>
            <td class="col-2 mb-2 mt-2">{{ Prenom }}</td>
            <td class="col-2 mb-2 mt-2">{{ Date_Naissance }}</td>
            <td class="col-2 mb-2 mt-2">{{ ID_Mutuelle }}</td>
        </tr>
        {{/liste}}
    </table>
    <div class="mt-5 text-center">
        <a href="/home">
            <button type="button" class="btn btn-success btn-lg">Accueil</button>
        </a>
    </div>

</div>

{{>footer}}
